*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: calc(14px + 0.25vw);
    font-family: 'Roboto', sans-serif;
    line-height: 1.65;
}

.container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //OVERAL LAYOUT
    display: grid;
    grid-template-columns: [header-start full-start] 1fr [header-end full-end];
    grid-template-rows: [header-start] 12vh [header-end content-start] 88vh repeat(8, 68vh min-content) [content-end footer-start] 10vh [footer-end];

    @include breakpoint(large) {
        grid-template-columns: [header-start] 13.125vw [header-end full-start] 1fr [full-end];
        grid-template-rows: [header-start content-start] 100vh [header-end] repeat(8, 88vh) [content-end footer-start] 10vh [footer-end];
    }
}

//___________________TYPOGRAPHY___________________\\
.heading-primary {
    
}
.heading-secondary {
    font-weight: 100;
    color: $color-heading-primary;
}
.heading-primary {

}
//________________________________________________\\