.content {
    //OVERAL LAYOUT
    grid-column: full-start / full-end;
    grid-row: content-start / content-end;
    
    //CONTENT LAYOUT
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 88vh repeat(8, 68vh min-content);
    
    @include breakpoint(large) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100vh repeat(8, 88vh);
    }
}

.section {
    &-picture {
        display: flex;
        align-items: center;
        justify-content: center;

        &__figure {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__img {
            max-width: 100%;
        }
    };
    &-info {
        background-color: #fff;

        h2 {
            margin-top: 0.8em;
            padding: 0.5em;
            background: linear-gradient(to right, #eaeaea 0%, #fff 60%);
        }

        &__article {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr;
            
        }

        &__text {
            padding: 2em 2em 0 2em;
            color: $color-text;
            font-size: calc(1em + 0.2vw);
            line-height: 1.4;
        }
    }

    &-hero {
        background-color: #ff1111;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
    //CONTENT LAYOUT
    @include breakpoint(large) {
        &:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        &:nth-child(3) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &:nth-child(4) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        &:nth-child(5) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &:nth-child(6) {
            grid-column: 1 / 2;
            grid-row: 4 / 4;
        }
        &:nth-child(7) {
            grid-column: 2 / 3;
            grid-row: 4 / 4;
        }
        &:nth-child(8) {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }
        &:nth-child(9) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
        &:nth-child(10) {
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
        &:nth-child(11) {
            grid-column: 2 / 3;
            grid-row: 6 / 7;
        }
        &:nth-child(12) {
            grid-column: 2 / 3;
            grid-row: 7 / 8;
        }
        &:nth-child(13) {
            grid-column: 1 / 2;
            grid-row: 7 / 8;
        }
        &:nth-child(14) {
            grid-column: 1 / 2;
            grid-row: 8 / 9;
        }
        &:nth-child(15) {
            grid-column: 2 / 3;
            grid-row: 8 / 9;
        }
        &:nth-child(18) {
            grid-column: 2 / 3;
            grid-row: 9 / 10;
        }
        &:nth-child(17) {
            grid-column: 1 / 2;
            grid-row: 9 / 10;
        }
    }
}