.content {
    //OVERAL LAYOUT
    grid-column: full-start / full-end;
    grid-row: content-start / content-end;
    
    //CONTENT LAYOUT
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90vh repeat(8, max-content min-content);
    
    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 90vh repeat(8, 60vh);
    }

    @include breakpoint(large) {
        grid-template-rows: 100vh repeat(8, minmax(max-content, 80vh));
    }
}

.section {
    &-picture {
        background-color: $color-grey;
        background-color: #414141;
        background-image: url(../img/bg.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        &__figure {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__img {
            max-width: 100%;

            @include breakpoint(medium) {
                max-width: 80%;
            }
            @include breakpoint(large) {
                max-width: 70%;
            }
        }
    };
    &-info {
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    
        .heading-secondary {
            margin-top: 0.8em;
            margin-top: 1em;
            padding: 0.5em 1em;
            //background: $color-grey;
            background-image: linear-gradient(105deg, #eaeaeaea 0%, #eaeaeaea 80%, transparent 80%, transparent 100%);
            text-align: left;

            @include breakpoint(medium) {
                text-align: right;
                background-image: linear-gradient(75deg, transparent 0%, transparent 15%, #eaeaeaea 15%, #eaeaeaea 100%);
            }

            &--reverse {

                @include breakpoint(medium) {
                    background-image: linear-gradient(105deg, #eaeaeaea 0%, #eaeaeaea 85%, transparent 85%, transparent 100%);
                    text-align: left;
                }
            }
        }

        &__article {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            color: $color-text;
            font-size: calc(1em - 0.55vw);
            line-height: 1.4;
            max-width: 80%;
            margin: 2em;

            @include breakpoint(xsmall) {
                font-size: 1em;
            }

            @include breakpoint(medium) {
                font-size: 1em;
            }

            @include breakpoint(large) {
                font-size: calc(1em + 0.25vw);
            }

        }
    }

    &__list {
        padding: 0 1em;
        margin: 2em;
        color: $color-text;
        list-style: circle;
        max-width: 80%;
        font-size: calc(1em - 0.55vw);

        @include breakpoint(xsmall) {
            font-size: 1em;
        }
        
        @include breakpoint(medium) {
            font-size: calc(1em + 0.25vw);
        }

        @include breakpoint(medium) {
            font-size: 1em;
        }

        &--item {
            line-height: 1.65;
        }
    }

    &-hero {
        //OVERAL LAYOUT
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        position: relative;

        //HERO CONTENT
        display: grid;
        grid-template-columns: [info-start picture-start] 1fr [info-end picture-end];
        grid-template-rows: [picture-start] 1fr [picture-end info-start] min-content [info-end];

        @include breakpoint(medium) {
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: [picture-start] 1fr max-content [info-start] min-content [info-end] 0.5fr [picture-end];
        }

        &__heading-box {
            position: absolute;
            top: 9%;
            right: 0;
            background: linear-gradient(to left, #ffffff, #ffffffe1);
            padding: 1em;

            @include breakpoint(medium) {
                background: linear-gradient(to left, #ffffff, #ffffff93);
                position: relative;
                top: 0;
                right: 0;
                grid-column: 7 / -1;
                grid-row: 2 / 3;
            }
        }

        &__picture-box {
            background-size: cover;
            background-position: bottom;

            grid-column: picture-start / picture-end;
            grid-row: picture-start / picture-end;

            @include breakpoint(medium) {
                grid-column: 1 / 9;
                background-image: url(../img/bg.png);
                background-size: cover;
                background-repeat: no-repeat;
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(17, 1fr);

            }
        }

        &__figure {
            width: 100%;
            height: 100%;
            background-image: url(../img/theeiffeltower-bw.jpg);
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;

            @include breakpoint(medium) {
                display: block;
                grid-column: 2 / -1;
                grid-row: 2 / 17;
                width: 100%;
            }
        }

        &__info-box {
            background-color: #ffffff;
            color: #292929;
            padding: 1em 2em;
            grid-row: info-start / info-end;
            grid-column: info-start / info-end;

            @include breakpoint(medium) {
                grid-column: 9 / -1;
                grid-row: info-start / info-end;
                padding: 0 2em 2em 2em;
            }
        }

        &__info {
            font-size: calc(1em - 0.55vw);
            line-height: 1.4;
            margin-bottom: 1em;

            @include breakpoint(xsmall) {
                font-size: 1em;
            }

            @include breakpoint(medium) {
                font-size: 1em;
                //max-width: 97%;
            }
            
            @include breakpoint(large) {
                font-size: 1em;
                max-width: 87%;
            }
        }

        &__more-button {
            text-decoration: none;
            border: none;
            font-weight: 700;
            font-size: calc(1em - 0.25vw);
            color: $color-text;
            text-align: center;
        }

    }
    //CONTENT LAYOUT
    @include breakpoint(medium) {
        &:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        &:nth-child(3) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &:nth-child(4) {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        &:nth-child(5) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &:nth-child(6) {
            grid-column: 1 / 2;
            grid-row: 4 / 4;
        }
        &:nth-child(7) {
            grid-column: 2 / 3;
            grid-row: 4 / 4;
        }
        &:nth-child(8) {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }
        &:nth-child(9) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
        &:nth-child(10) {
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
        &:nth-child(11) {
            grid-column: 2 / 3;
            grid-row: 6 / 7;
        }
        &:nth-child(12) {
            grid-column: 2 / 3;
            grid-row: 7 / 8;
        }
        &:nth-child(13) {
            grid-column: 1 / 2;
            grid-row: 7 / 8;
        }
        &:nth-child(14) {
            grid-column: 1 / 2;
            grid-row: 8 / 9;
        }
        &:nth-child(15) {
            grid-column: 2 / 3;
            grid-row: 8 / 9;
        }
        &:nth-child(18) {
            grid-column: 2 / 3;
            grid-row: 9 / 10;
        }
        &:nth-child(17) {
            grid-column: 1 / 2;
            grid-row: 9 / 10;
        }
    }
}