.content {
    //OVERAL LAYOUT
    grid-column: full-start / full-end;
    grid-row: content-start / content-end;
    
    //CONTENT LAYOUT
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 88vh);

    @include breakpoint(laptop) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 65vh);
    }
    @include breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 65vh);
    }
    @include breakpoint(phone) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(16, 48vh 65vh);
    }
}

.section {
    &:nth-child(even) {
        background-color: $color-grey;
    };
    &:nth-child(odd) {
        background-color: #fff;
    }

     //CONTENT LAYOUT
    &:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    &:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    &:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    &:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    &:nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    &:nth-child(7) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    &:nth-child(8) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    &:nth-child(9) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    &:nth-child(10) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    &:nth-child(11) {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    &:nth-child(12) {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    &:nth-child(13) {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }
    &:nth-child(14) {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }
    &:nth-child(15) {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    &:nth-child(16) {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }

    @include breakpoint(phone) {
        &:nth-child(1) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        &:nth-child(2) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
        &:nth-child(3) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &:nth-child(4) {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
        &:nth-child(5) {
            grid-column: 1 / 2;
            grid-row: 5 / 6;
        }
        &:nth-child(6) {
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }
        &:nth-child(7) {
            grid-column: 1 / 2;
            grid-row: 7 / 8;
        }
        &:nth-child(8) {
            grid-column: 1 / 2;
            grid-row: 8 / 9;
        }
        &:nth-child(9) {
            grid-column: 1 / 2;
            grid-row: 9 / 10;
        }
        &:nth-child(10) {
            grid-column: 1 / 2;
            grid-row: 10 / 11;
        }
        &:nth-child(11) {
            grid-column: 1 / 2;
            grid-row: 11 / 12;
        }
        &:nth-child(12) {
            grid-column: 1 / 2;
            grid-row: 12 / 13;
        }
        &:nth-child(13) {
            grid-column: 1 / 2;
            grid-row: 13 / 14;
        }
        &:nth-child(14) {
            grid-column: 1 / 2;
            grid-row: 14 / 15;
        }
        &:nth-child(15) {
            grid-column: 1 / 2;
            grid-row: 15 / 16;
        }
        &:nth-child(16) {
            grid-column: 1 / 2;
            grid-row: 16 / 17;
        }
    }
}