.footer {
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1em - 0.25vw);
    //letter-spacing: 1px;
    color: #cacaca;
    //OVERAL LAYOUT
    grid-column: full-start / full-end;
    grid-row: footer-start / footer-end;

    
    @include breakpoint(large) {
        font-size: calc(1em + 0.15vw);
    }
}