.header {
    background-color: #fff;
    //OVERAL LAYOUT
    grid-column: full-start / full-end;
    grid-row: header-start / header-end;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;

    //HEADER CONTENT
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.875rem;

    @include breakpoint(large) {
        //OVERAL LAYOUT
        grid-column: header-start / header-end;
        //HEADER CONTENT
        flex-direction: column;
        padding: 0;
    }
    &__icon-box {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        list-style: none;

        @include breakpoint(large) {
            flex-direction: column;
        }

        &--item {
            text-decoration: none;
            border: none;
            color: $color-text;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                border: none;
                color: currentColor;
            }


            &:not(:last-child) {
                margin-right: 1.2em;

                @include breakpoint(medium) {
                    margin-right: 2em;
                }

                @include breakpoint(large) {
                    margin-right: 0;
                    margin-bottom: 0.5em;
                }
            }

            @include breakpoint(large) {
                position: relative;
                padding: 0.85em;
            

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 0;
                    background: linear-gradient(to right, #4141418f, #4141418f), url(../img/bg.png);
                    background-size: 120%;
                    transition: width .3s, color .3s;
                }
                &:hover::before {
                    width: 100%;
                }

                &:hover {
                    color: $color-grey;
                }
            }

            
        }
    }

    &__icon {
        font-size: calc(1.2em + 0.15vh);

        @include breakpoint(large) {
            position: relative;
            z-index: 9;    
        }

        @include breakpoint(xsmall) {
            font-size: calc(1.8em + 0.15vw);
        }

        @include breakpoint(medium) {
            font-size: calc(2em + 0.15vw);
        }

        @include breakpoint(large) {
            font-size: calc(1.2em + 0.15vw);
        }

        @include breakpoint(xlarge) {
            font-size: calc(1.5em + 0.15vw);
        }
    }

    &__link-box {
        @include breakpoint(large) {
            position: relative;
            align-self: stretch;
            padding: 1em;
            text-align: center;
            background-color: #fff;
            color: $color-text;
        }

        &::before {
            @include breakpoint(large) {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background: linear-gradient(to right, #4141418f, #4141418f), url(../img/bg.png);
                background-size: 120%;
                transition: width .3s, color .3s;
            }
        }

        &:hover::before {
            width: 100%;
        }

        &:hover .header__link {
            @include breakpoint(large) {
                color: $color-grey;
            }
        }
    }

    &__link {
        text-decoration: none;
        border: none;
        color: $color-text;
        font-weight: 400;
        
        @include breakpoint(large) {
            position: relative;
            z-index: 10;
        }

        @include breakpoint(xsmall) {
                font-size: 1em;
            }

            @include breakpoint(medium) {
                font-size: 1em;
            }

            @include breakpoint(xlarge) {
                font-size: calc(1em + 0.15vw);
            }
    }
}