.sidebar {
    background-color: #fff;
    //OVERAL LAYOUT
    position: sticky;
    left: 0;
    top: 0;
    grid-column: sidebar-start / sidebar-end;
    z-index: 100;

    //SIDEBAR CONTENT
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;

    @include breakpoint(tablet) {
        //OVERAL LAYOUT
        grid-row: 1 / 2;
        ///////////////
        flex-direction: row;
        padding: 0 2rem;
    }

    @include breakpoint(phone) {
        z-index: 10;
        padding: 0 2rem;
    }

    &__icon-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(tablet) {
            flex-direction: row;
        }

        a {
            text-decoration: none;
            border: none;
            color: #353535;

                &:not(:last-child) {
                margin-bottom: 2rem;
                    
                @include breakpoint(tablet) {
                    margin-bottom: 0;
                    margin-right: 2rem;
                }
                @include breakpoint(phone) {
                    margin-right: 2rem;
                }
            } 
        }
    }

    &__link {
        font-size: 2rem;
        text-decoration: none;
        border: none;
        color: #353535;
    }

    &__icon {
        font-size: 3rem;

        @include breakpoint(laptop) {
            font-size: 3rem;
        }
        @include breakpoint(tablet) {
            font-size: 3rem;
        }
        @include breakpoint(phone) {
            font-size: 2.4rem;
        }
    }
}