//___________________COLORS___________________\\
$color-grey-dark--1: #414141;
$color-grey-dark--2: #292929;
$color-grey: #C9E4FF;
//$color-grey-light--1: #b1b1b1;
$color-grey-light--1: #878787;
$color-grey-light--2: #707070;

//____________________________________________\\
$default-font-size: 2rem;